
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add student</title>
    <script src="https://kit.fontawesome.com/63e2b2b603.js" crossorigin="anonymous"></script>
    <style>
.navbar {
    background-color: rgba(180, 150, 150, 0.5);
    display: flex;
    align-items: center;
}
.box{
    width: 100%;
    border-bottom: 2px solid purple;
    margin: 22px 0px;
    
}
.box input{
    background: none;
    width: 75%;
    outline:  none;
    border: none;
    color: red;
    padding: 5px 10px;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    opacity: .6;
}
.box i{
    width: 25px;
    text-align: center;
}
.btn{
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 12px 0;
    padding: 10px 21px;
    color:black;
    border-radius: 10px ;
    border: 2px solid purple;
    font-size: 18px;
    background: none;
    font-weight: bold;
}
.btn:hover{
   color: rgb(228, 13, 13);
   
   background: white;
}
.uttam h1 {
    font-size: 40px;
    color: black;
   border-bottom: 5px solid purple;
    display: inline-block;
    margin-top: 60px;
   /* padding: 25px 0px;*/
    bottom: 0px;
}
.btn1{
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 12px 0;
    padding: 10px 21px;
    color:black;
    border-radius: 10px ;
    border: 2px solid purple;
    font-size: 18px;
    background: none;
    font-weight: bold;
}
.btn1:hover{
   color: rgb(228, 13, 13);
   
   background: white;
}
 form{
    color:black;
    position: absolute;
    top: 45%;
    left: 40%; 
 }
.logo {
    height: 100px;
    width: 100px;
    margin: 10px;
}
h3 {
    font-size: 2.5rem;
    font-style: italic;
    margin: 0px 10px;
}
body {
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    background-color: #e2e2e296;
}
#h1 {
    margin: 0px;
    position: relative;
    top: 20px;
    text-align: center;
    padding: 20px;
    color: black;
    background-color: transparent;
    font-size: 3rem;
}
    </style>
    <script>
        function add() {
            console.log('here');
            var x = document.getElementById('container');
            var p = document.getElementById('save');
            var i = x.childElementCount;
            // x.innerHTML += `<input type='text' required='true' placeholder='course${i}' name='course${i}'>`;
            x.innerHTML += `<div class="box">
            <i class="fa fa-key"></i>
            <input  placeholder='course${i}' name='course${i}' type="text" required=true>

        </div>`;
            // p.innerHTML +=1;
            console.log(i+1);
        }
        function get_value(){
           return document.getElementById('container').childElementCount +1;
        }
    </script>
</head>

<body>
   <nav class="navbar">
        <img class="logo" src="logo.png" alt="...">
        <h2>Indian Institute of Technology Indore</h2>
    </nav>

        <h1 id="h1">Online Education Portal</h1>
    <form id="form" action="" method="post">
        <h1 class="uttam">ADD STUDENT</h1>
        <div class="box">
             <i class="fa fa-user"></i>
             <input placeholder="name" name="Name" type="text" required=true>
         </div>
       <!-- <div class="box">
             
             <i class="fa fa-envelope"></i>
             <input type="email" name="email" id="email" placeholder="Enter Your Email ID">
         </div>-->
         <div class="box">
             <i class="fa fa-key"></i>
             <input placeholder="password" name="password" type="text" required=true>
 
         </div>
         <div class="box">
            <i class="fa fa-key"></i>
            <input placeholder="Roll Number" name="Rno" type="number" required=true>

        </div>
        <div class="box">
            <i class="fa fa-key"></i>
            <input placeholder="Program" name="Program" type="text" required=true>

        </div>
        <div class="box">
            <i class="fa fa-table"></i>
            <input placeholder="Year Of Admission" name="year" type="number" required=true>

        </div>
        <div class="box">
            <i class="fa fa-key"></i>
            <input placeholder="Branch" name="Department" type="number" required=true>

        </div>
        <div class="box">
            <i class="fa fa-key"></i>
            <input placeholder="User ID" name="uid" type="text" required=true>

        </div>

 
     
        <div id="container">
          
            <p id="save" style="visibility: hidden;"></p>
            
        </div>
        <button class="btn" type="submit">Add student</button>
        <button class="btn1" onclick='add()'>Add Course</button>
    </form>
   
</body>

</html>
