<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add student</title>
    <script>
        function add() {
            console.log('here');
            var x = document.getElementById('container');
            var p = document.getElementById('save');
            var i = x.childElementCount;
            x.innerHTML += `<input type='text' required='true' placeholder='course${i}' name='course${i}'>`;
            // p.innerHTML +=1;
            console.log(i+1);
        }

        function get_value(){
           return document.getElementById('container').childElementCount +1;
        }
    </script>
</head>

<body>
    <form id="form" action="" method="post">
        <input placeholder="name" name="Name" type="text" required=true>
        <input placeholder="password" name="password" type="text" required=true>
        <input placeholder="Roll Number" name="Rno" type="number" required=true>
        <input placeholder="Program" name="Program" type="text" required=true>
        <input placeholder="Year Of Admission" name="year" type="number" required=true>
        <input placeholder="Branch" name="Department" type="number" required=true>
        <div id="container">
            <% var count = 1%>
            <p id="save" style="visibility: hidden;"><%= count%> </p>
            <!-- <input placeholder="course1"name="course1" type="text" required=true>
                <input placeholder="course2"name="course2" type="text" required=true>
        <input placeholder="course3"name="course3" type="text" required=true>
        <input placeholder="course4"name="course4" type="text" required=true>
        <input placeholder="course5"name="course5" type="text" required=true> -->
        </div>
        <button type="submit">Add student</button>
    </form>
    <button onclick='add()'>Add Course</button>
</body>

</html>