<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add student</title>
    <script src="https://kit.fontawesome.com/63e2b2b603.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/add_course.css">
    <script>
        function add() {
            console.log('here');
            var x = document.getElementById('container');
            var p = document.getElementById('save');
            var i = x.childElementCount;
            // x.innerHTML += `<input type='text' required='true' placeholder='course${i}' name='course${i}'>`;
            x.innerHTML += `<div class="box">
            <i class="fa fa-key"></i>
            <input  placeholder='course${i}' name='course[]' type="text">
        </div>`;
            // p.innerHTML +=1;
            console.log(i + 1);
        }
        function get_value() {
            return document.getElementById('container').childElementCount + 1;
        }
    </script>
</head>

<body>
    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <div class="bar">
        <ul>
            <li><a href="/Admin_home">Admin Home</a></li>
            <li><a href="/admin_change_password">Change Password</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>

    <h1>ADD STUDENT</h1>

    <div class="container">
        <form id="form" action="" method="post">
            <div class="box">
                <i class="fa fa-user"></i>
                <input placeholder="name" name="Name" type="text" required=true>
            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input placeholder="password" name="password" type="text" required=true>

            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input placeholder="User ID" name="uid" type="text" required=true>

            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input placeholder="Roll Number" name="Rno" type="number" required=true>

            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input placeholder="Program" name="Program" type="text" required=true>

            </div>
            <div class="box">
                <i class="fa fa-table"></i>
                <input placeholder="Year Of Study" name="year" type="number" required=true>

            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input placeholder="Department ID" name="Department" type="number" required=true>

            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input placeholder="Date Of Birth" name="dob" type="date" required=true>

            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input placeholder="E-Mail" name="email" type="email" required=true>

            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input type="radio" name="gender" id="male" value="M">
                <label for="male">Male</label>
                <input type="radio" name="gender" id="femmale" value="F">
                <label for="female">Female</label>
                <input type="radio" name="gender" id="others" value=null>
                <label for="others">Others</label>
            </div>


            <div id="container">
        
                
                <p id="save" style="visibility: hidden;"></p>
            </div>
            <%if( typeof error != 'undefined'){%>
            <p><%=error%></p>
            <%}%>
                <button class="btn" type="submit">Add student</button>
                <button class="btn1" type="button" onclick='add()'>Add Course</button>
            </form>
            <a href="/add_student_excel"><button class="btn1" type="button">Upload excel file</button></a>

    </div>


   
</body>

</html>