<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Program</title>
    <link rel="stylesheet" href="./css/add_course.css">
    <script src="https://kit.fontawesome.com/63e2b2b603.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <div class="bar">
        <ul>
            <li><a href="/Admin_home">Admin Home</a></li>
            <li><a href="/admin_change_password">Change Password</a></li>
            <li><a href="/set_sem_dates">Set Semester Dates</a></li>
            <li><a href="/admin_change_email">Edit Email</a></li>
            <li><a href="/admin_request_course">Courses Request List</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>

    <h1>Add Program</h1>

    <div class="container">

        <form method="post">

            <div class="box">
                <i class="fa fa-key"></i>
                <input type="text" name="pcode" required="true" placeholder="Program Code (eg B.Tech)">
            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input type="text" name="pname" required="true" placeholder="Program Name">
            </div>
            <button type="submit">Add Program</button>

        </form>
        <%if( typeof error != 'undefined'){%>
            <p><%=error%></p>
            <%}%>
    </div>

</body>

</html>
