<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Department</title>
</head>
<body>
    <form method="post">
        <input type="text" name="dept_id" required="true" placeholder="Department ID">
        <input type="text" name="dept_name" required="true" placeholder="Department Name">
        <button type="submit">Add Department</button>
    </form>

</body>
</html>
