<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adminstration page</title>
    <link rel="stylesheet" href="./css/Admin_home.css">
</head>

<body>

    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <h1>ADMIN</h1>
    <h2>Welcome to Online Education Portal</h2>

    <div class="bar">
        <div class="logout">
            <a href="/Home_page"><button id="button">Go to Home</button></a>
            <a href="/admin_change_password"><button id="button">Change Password</button></a>
            <a href="/logout"><button id="button">Log Out</button></a>
        </div>
    </div>

    <div class="row">

        <div class="card" id="card1">
            <img src="https://static.vecteezy.com/system/resources/previews/000/506/419/non_2x/vector-male-student-icon-design.jpg"
                alt="...">
            <div class="card-body">
                <h2 class="card-title"><a href="/students_list">Student</a></h2>
                <a href="/add_student"><button id="button">Add Student</button></a><br>
                <a href="/delete_student"><button id="button">Remove Student</button></a><br>
                <a href="/update_student_1"><button id="button">Update</button></a>
            </div>
        </div>

        <div class="card" id="card2">
            <img src="https://us.123rf.com/450wm/pxlprostudio/pxlprostudio1901/pxlprostudio190106207/116646344-stock-vector-profile-icon-on-black-background-for-graphic-and-web-design-modern-simple-vector-sign-internet-conce.jpg?ver=6"
                alt="...">
            <div class="card-body">
                <h2 class="card-title"><a href="/prof_list">Professor</a></h2>
                <a href="/add_prof"><button id="button">Add Professor</button></a><br>
                <a href="/delete_prof"><button id="button">Remove Professor</button></a><br>
                <a href="/update_prof_1"><button id="button">Update</button></a>
            </div>
        </div>

        <div class="card" id="card3">
            <img src="./css/images/department.png" alt="...">
            <div class="card-body">
                <h2 class="card-title"><a href="/dept_list">Department</a></h2>
                <a href="/add_dept"><button id="button">Add Department</button></a><br>
                <a href="/delete_dept"><button id="button">Remove Department</button></a><br>
                <a href="/update_dept_1"><button id="button">Update</button></a>
            </div>
        </div>

        <div class="card" id="card4">
            <img src="./css/images/book.png" alt="...">
            <div class="card-body">
                <h2 class="card-title"><a href="/all_courses">Course</a></h2>
                <a href="/add_course"><button id="button">Add Course</button></a><br>
                <a href="/delete_course"><button id="button">Remove Course</button></a><br>
                <a href="/update_course_1"><button id="button">Update</button></a>
            </div>
        </div>

        <div class="card" id="card5">
            <img src="./css/images/tav1.png" alt="...">
            <div class="card-body">
                <h2 class="card-title"><a href="/admin_list">Admin</a></h2><br><br>
                <a href="/add_admin"><button id="button">Add Admin</button></a><br>
                <a href="/delete_admin"><button id="button">Remove Admin</button></a>
            </div>
        </div>

         <div class="card" id="card6">
            <img src="./css/images/tav1.png" alt="...">
            <div class="card-body">
                <h2 class="card-title">Time Table</h2>
                <a href="/assign_time_slot"><button id="button">Assign Time Slot</button></a><br>
                <a href="/unassign_time_slot"><button id="button">Unassign Time Slot</button></a>
            </div>
        </div>

    </div>

</body>

</html>