<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adminstration page</title>
    <link rel="stylesheet" href="./css/Admin_home.css">
</head>

<body>

    <nav class="navbar">
        <img class="logo" src="../logo.png" alt="...">
        <h3>Indian Institute of Technology Indore</h2>
    </nav>

    <h1>ADMIN</h1>
    <h2>Welcome to Online Education Portal.</h2>

    <div class="bar">
        <div class="logout">
            <button><a href="/">Log Out</a></button>
            
        </div>
    </div>

    <div class="row">

        <div class="card" id="card1">
            <img src="https://static.vecteezy.com/system/resources/previews/000/506/419/non_2x/vector-male-student-icon-design.jpg"
                alt="...">
            <div class="card-body">
                <h2 class="card-title">Student</h2>
                <a href="/add_student">Add Student</a>
             
            </div>
        </div>

        <div class="card" id="card2">
            <img src="https://us.123rf.com/450wm/pxlprostudio/pxlprostudio1901/pxlprostudio190106207/116646344-stock-vector-profile-icon-on-black-background-for-graphic-and-web-design-modern-simple-vector-sign-internet-conce.jpg?ver=6"
                alt="...">
            <div class="card-body">
                <h2 class="card-title">Professor</h2>
                <a href="add_prof">Add Professor</a>
                
            </div>
        </div>

        <div class="card" id="card2">
            <img src="images/department.png" alt="...">
            <div class="card-body">
                <h2 class="card-title">Department</h2>
                <a href="/add_dept">Add Department</a>
              
            </div>
        </div>

        <div class="card" id="card2">
            <img src="img/book.png" alt="...">
            <div class="card-body">
                <h2 class="card-title">Course</h2>
                <a href="/add_course">Add Course</a>
              
            </div>
        </div>

        <div class="card" id="card2">
            <img src="img/tav1.png" alt="...">
            <div class="card-body">
                <h2 class="card-title">Admin</h2>
                <a href="/add_admin"> Add Admin</a>
               
            </div>
        </div>

    </div>

</body>

</html>
