
*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    background-color: #e2e2e2;
}

.navbar {
    background-color: rgba(180, 150, 150, 0.5);
    display: flex;
    align-items: center;
}

/* html::before {
    content: "";
    position: absolute;
    top: 100px;
    background: url('img/bg8.jpg') no-repeat center center/cover;
    height: 170%;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
}

.navbar{
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
} */

.logo {
    height: 100px;
    width: 100px;
    margin: 10px;
}
  
h3 {
    font-size: 2.5rem;
    font-style: italic;
    margin: 0px 10px;
}


h1 {
    margin: 0px;
    padding: 20px;
    text-align: center;
    background-color: transparent;
    position: relative;
    top: 20px;
    font-size: 4em;
}

h2 {
    font-size: 2em;
    color: darkred;
    margin: 10px;
}

.bar{
    margin: 10px;
    position: sticky;
    top: 10px;
    display: flex;
    background-color: rgba(170, 206, 240, 0.4);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50vh;
}

.card {
    background-color: white;
    margin: 40px 15px;
}

img {
    height: 220px;
    width: 220px;
    margin: 10px;
}

.card-title {
    margin: 10px;
}

input {
    font-size: 20px;
    border: 3px solid black;
    margin: 5px;
    height: 50px;
    width: 220px;
    background-color: transparent;
}

#button {
    border-radius: 10px;
    margin-bottom: 5px;
}

#button:hover {
    background-color: rgb(174 174 239);
    cursor: pointer;
}

#button:active {
    background-color: rgb(113 113 202);
}

