<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark the Attendance</title>
    <link rel="stylesheet" href="Attendance.css">
</head>

<body>

    <nav class="navbar">
        <img class="logo" src="img/logo.png" alt="...">
        <h3>Indian Institute of Technology Indore</h2>
    </nav>

    <h1>Attendance</h1>
    <h2>Welcome to Online Education Portal.</h2>

    <input class="search" type="search" placeholder="Search your name or roll number">

    <table>

        <thead>
            <tr>
                <th>Serial number</th>
                <th>Name</th>
                <th>Roll number</th>
                <th>Attendance</th>
                <th>Mark Attendance</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>6</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>7</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>8</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>9</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>10</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>11</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>12</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>13</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>14</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>15</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>16</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>17</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>18</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>19</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>20</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>21</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>22</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>23</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>24</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
            <tr>
                <td>25</td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="button" class="button" value="Mark Attendance"></td>
            </tr>
        </tbody>

    </table>

</body>

</html>
