<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <script src="https://kit.fontawesome.com/63e2b2b603.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/add_course.css">
    <script>
        function add() {
            console.log('here');
            var x = document.getElementById('container');
            var p = document.getElementById('save');
            var i = x.childElementCount;
            // x.innerHTML += `<input type='text' required='true' placeholder='course${i}' name='course${i}'>`;
            x.innerHTML += `<div class="box">
            <i class="fa fa-key"></i>
            <input  placeholder='course${i}' name='course${i}' type="text" required=true>

        </div>`;
            // p.innerHTML +=1;
            console.log(i + 1);
        }
        function get_value() {
            return document.getElementById('container').childElementCount + 1;
        }
    </script>
</head>

<body>
    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <h1>Change Password</h1>
    <div class="container">
        <form id="form" action="" method="post">

            <div class="box">
                <i class="fa fa-key"></i>
                <input placeholder="Old password" name="old_password" type="text" required=true>
            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input placeholder="New password" name="new_password" type="text" required=true>
            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input placeholder="Confirm New password" name="con_new_password" type="text" required=true>
            </div>

            <div id="container">
                <p id="save" style="visibility: hidden;"></p>
            </div>

            <%if( typeof error != 'undefined'){%>
            <p><%=error%></p>
            <%}%>
        <button class="btn" type="submit">Change Passsword</button>
        
    </form>
    </div>
   
</body>

</html>
