<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Attendance</title>
    <link rel="stylesheet" href="./css/check_attendance.css">
</head>
<body>

    <header class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </header>



    <nav id="navbar">
        <div id="logo">
           <img src="./css/images/logo.png"  alt="">
        </div>
        <ul>
            
           
          
          
            
           
           


        </ul>
        </div>
    </nav>


    <h1>Check Attendance</h1>
    <h2>Welcome to Online Education Portal.</h2>

    <form action="" method="post">
        <input type="text" name="course" placeholder="Course Code" required="true">
        <button type="submit">Check</button>
    </form>
    <%if(typeof data!='undefined'){%>
        <table>
            <tr>
                <th>Roll No.</th>
                <th>Name</th>
                <th>Days Attended</th>
                <th>Total Classes</th>
            </tr>
            <% data.forEach((item)=>{%>
                <tr>
                    <td><%=item.Roll_No%></td>
                    <td><%=item.S_Name%></td>
                    <td><%=item.Days_Attended%></td>
                    <td><%=item.Total_Days%></td>
                </tr>
           <% })%>
        </table>
   <% }%>
</body>
</html>
