<!DOCTYPE html>
<html lang="en">
<head>itute of Technology Indore</h3>
    </nav>

    <h1>Check Attendance</h1>
    <h2>Welcome to Online Education Portal.</h2>

    <form action="" method="post">
        <input type="text" name="course" placeholder="Course Code" required="true">
        <button type="submit">Check</button>
    </form>
    <%if(typeof data!='undefined'){%>
        <table>
            <tr>
                <th>Roll No.</th>
                <th>Name</th>
                <th>Days Attended</th>
                <th>Total Classes</th>
            </tr>
           
   <% }%>
</body>
</html>
