<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Attendance</title>
    <link rel="stylesheet" href="./css/add_course.css">
    <link rel="stylesheet" href="./css/Attendance.css">
    <link rel="stylesheet" href="./css/check_attendance.css">
    <style>
        .bar {
            margin: 20px 0px 10px 0px;
            position: sticky;
            display: flex;
            background-color: rgb(87, 212, 225);
            border-radius: 15px;
            z-index: 10;
        }

        ul {
            display: flex;
        }

        li {
            list-style: none;
            margin: 0px 10px;
            font-size: 20px;
        }

        a {
            text-decoration: none;
            padding: 7px;
            color: #072ff2;
        }

        li a:hover {
            border: 1px solid black;
            border-radius: 15px;
            color: black;
            text-decoration: none;
            background-color: #dbefea;
        }

        @media (min-width: 385px) and (max-width: 510px) {
            ul {
                padding-inline-start: 10px;
            }

            li {
                font-size: 13px;
            }
        }

        @media (max-width: 385px) {
            ul {
                padding-inline-start: 5px;
            }

            li {
                font-size: 11px;
                margin: 0px 2px;
            }
        }
    </style>
</head>
<body>

    <header class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </header>

    <div class="bar">
        <ul>
            <li class="item"><a href="/teacher_home">Home</a></li>
            <li class="item"><a href="/check_attendance">Check Attendance</a></li>
            <li class="item"><a href="/attendance_today">Today's attendance</a></li>
            <li class="item"><a href="/prof_timetable">Time Table</a></li>
            <li class="item"><a href="/prof_courses">Courses</a></li>
            <li class="item"><a href="/prof_study_material">Study Material</a></li>
            <li class="item"><a href="/prof_change_password">Change Password</a></li>

            <li class="item"><a href="/logout">LogOut</a></li>
        </ul>
    </div>

    <h1>Check Attendance</h1>

    <form action="" method="post">
        <!-- <input type="text" name="course" placeholder="Course Code" required="true"> -->
        <div class="box">
            <i class="fa fa-vcard-o"></i>
            <input style="width: 25%; margin: auto;" type="text" name="course" placeholder="Course Code" required="true">
        </div>
        <button type="submit">Check</button>
    </form>
    <%if(typeof data!='undefined'){%>
        <table>
             <tr style="color: rgb(151, 4, 156); background-color: chartreuse;">
                <th>Roll No.</th>
                <th>Name</th>
                <th>Days Attended</th>
                <th>Total Classes</th>
            </tr>
            <% data.forEach((item)=>{%>
                <tr>
                    <td><%=item.Roll_No%></td>
                    <td><%=item.S_Name%></td>
                    <td><%=item.Days_Attended%></td>
                    <td><%=item.Total_Days%></td>
                </tr>
           <% })%>
        </table>
   <% }%>
</body>
</html>
