

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Departments</title>
    <link rel="stylesheet" href="./css/Attendance.css">
</head>
<body>
    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <h1>Departments</h1>
    <h2>Welcome to Online Education Portal.</h2>

    <div class="container" style="display: inline-block;">
        <table class="table">
            <tr>
                <th>Serial No.</th>
                <th>Name</th>
                <th>Dept. ID</th>
            </tr>


            <%
            if(data.length>0){
                var i=1;
                data.forEach((inf)=>{ 
                    %>
                    <tr>
                        <td><%= i; %></td>
                        <td><%= inf.D_Name %></td>
                        <td><%= inf.Dept_ID %></td>
                        
                    </tr>
            <% i++;    })%>
            <% }else{ %>
                <td colspan="7">No Data Found</td>
            <% }%>
        </table>
    </div>
</body>
</html>