<!doctype html>
<html>
  <head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/63e2b2b603.js" crossorigin="anonymous"></script>
    <title>Recover Passwordt</title>
    <link rel="stylesheet" href="./css/teacher_login.css">
  </head>

  <body>
    
    <header>
      <h1>भारतीय प्रौद्योगिकी संस्थान इंदौर Indian Institute of Technology Indore
      </h1>
    </header>
    <div class="logo">
      <img src="./css/images/logo.png" alt="logo">
    </div>
    <div class="container">
        <h1>Recover Password</h1>
        <form method="post">
          <div class="box">
               <i class="fa fa-user"></i>
            <input type="text" name="id" id="name" placeholder="Enter Your ID">
           </div>
           <button class="btn">Send Mail</button>
          </form>
          <%if( typeof error != 'undefined'){%>
            <p><%=error%></p>
            <%}%>
   
  </body>
</html>
