<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Sign-up in Online Education Portal</title>
    <link rel="stylesheet" href="./css/homepage.css">
</head>

<body>

    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <div class="container">

        <h1 id="h1">Online Education Portal</h1>
        <header>
            <p> Hello! Welcome to Online Education Portal. </p>
            <p> This portal will make your ONLINE education </p>
            <p> process much easier. </p>
        </header>

        <div class="row">
        
             <div class="card" id="card1">
                <img src="https://static.vecteezy.com/system/resources/previews/000/506/419/non_2x/vector-male-student-icon-design.jpg"
                    alt="">
                <div class="card-body">
                    <h2 class="card-title">Student</h2>
                    <a href="/student_login"><button id="button">Login</button></a><br><br>
                    <!-- <a href="/student_signup"><button id="button">Sign Up</button></a> -->
                </div>
            </div>

            <div class="card" id="card2">
                <img src="https://us.123rf.com/450wm/pxlprostudio/pxlprostudio1901/pxlprostudio190106207/116646344-stock-vector-profile-icon-on-black-background-for-graphic-and-web-design-modern-simple-vector-sign-internet-conce.jpg?ver=6"
                    alt="...">
                <div class="card-body">
                    <h2 class="card-title">Professor</h2>
                    <a href="/teacher_login"><button id="button">Login</button></a><br><br>
                    <!-- <a href="/professor_signup"><button id="button">Sign Up</button></a> -->
                </div>
            </div>

            <div class="card" id="card3">
                <img src="./css/images/tav1.png" alt="...">
                <div class="card-body">
                    <h2 class="card-title">Admin</h2>
                    <a href="/admin_login"><button id="button">Login</button></a><br><br>
                    <!-- <a href="/admin_signup"><button id="button">Sign Up</button></a> -->
                </div>
            </div>

            <div class="card" id="card4">
                <img src="./css/images/book.png" alt="...">
                <div class="card-body">
                    <h2 class="card-title">Courses</h2>
                    <a href="/all_courses"><button id="button">View</button></a><br><br>
                </div>
            </div>
        </div>
    </div>

    <br><br>

    <footer class="footer">

        <h1>About this portal</h1>
        <p class="p1">This project aims to solve some of the major problems faced in online education by both students and teachers in terms of data management.
            </p>
        <p class="p1"> ● One major problem is that generally, all the important links for different courses are scattered and every time both students and teachers have to do a tedious task of searching the same. This project will provide all the required details and links at one place and a person will see only those details and links which are useful to him/her.</p>
        <p class="p1">●	Students are enrolled in multiple courses and each course has its material at different places. Sometimes, it can also be on different platforms. Due to this, many times, students miss some of the important materials while studying. This project will provide one place where a student can find all the links for required materials for a particular course in which the student is enrolled.</p>

    </footer>

</body>

</html>