<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongoing Classes</title>
</head>
<body>
    <%if(typeof error != 'undefined'){%>
        <h1><%=error%>.</h1>
        <!-- <p>i am here</p> -->
    <%}
    if(typeof course1 != 'undefined'){%>
       <%  var link = '/mark_attendance/?course=' + course1+'&time=' + time1+'';%>
       <p style="display: none;" id="temps"><%= link%> </p>
        <table>
            <tr>
                <th>Time</th>
                <th>Course Code</th>
                <th>Mark Attendance</th>
            </tr>
            <tr>
                <th><%= time1%></th>
                <th><%= course1%></th>
                <th><button onclick="process()">Mark attendance</button></th>
            </tr>
        </table>
   <% }%>
</body>
<script>
    function process(){
        var link = document.getElementById("temps").innerHTML;
        window.location.replace(link);
    }
</script>
</html>