<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongoing Classes</title>
    <link rel="stylesheet" href="./css/Attendance.css">
    <style>
        
* {
  box-sizing: border-box;
}

/* html::before {
  content: "";
  position: absolute;
  background: url('img/bg6.jpg') no-repeat center center/cover;
  height: 145%;
  width: 100%;
  opacity: 0.4;
  z-index: -1;
} */

.navbar {
  background-color: rgba(180, 150, 150, 0.5);
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
  margin: 10px;
}

h3 {
  font-size: 2.5rem;
  font-style: italic;
  margin: 0px 10px;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 400;
  background-color: #e2e2e2;
}

h1 {
  margin: 0px;
  padding: 20px;
  text-align: center;
  background-color: transparent;
  position: relative;
  top: 20px; 
  font-size: 4em;
}

header {
  /* display: inline-block; */
  background-color: rgba(72, 142, 228, 0.2);
}

h2 {
  font-size: 2em;
  color: darkred;
  margin: 10px;
}

/* .container {
  margin: 80px 10px; 
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(7,1fr) ;
  grid-gap: 2px;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: transparent;
  border: 2px solid black;
  font-weight: bold;
  font-size: 25px;
} */

table{
  margin: 80px 20px;
  font-weight: bold;
  font-size: 25px;
  border: 2px solid black;
}

th,td{
  width: 350px;
  height: 70px;
  border: 2px solid black;
}
    </style>
</head>
<body>

    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <h1>Attendance for ongoing class</h1>
    <h2>Welcome to Online Education Portal.</h2>

    <%if(typeof error != 'undefined'){%>
        <h1><%=error%>.</h1>
        <!-- <p>i am here</p> -->
    <%}
    if(typeof course1 != 'undefined'){%>
       <%  var link = '/mark_attendance/?course=' + course1+'&time=' + time1+'';%>
       <p style="display: none;" id="temps"><%= link%> </p>
        <table>
            <tr>
                <th>Time</th>
                <th>Course Code</th>
                <th>Mark Attendance</th>
            </tr>
            <tr>
                <th><%= time1%></th>
                <th><%= course1%></th>
                <th><button onclick="process()">Mark attendance</button></th>
            </tr>
        </table>
   <% }%>
</body>
<script>
    function process(){
        var link = document.getElementById("temps").innerHTML;
        window.location.replace(link);
    }
</script>
</html>