<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Attendance</title>
    <link rel="stylesheet" href="./css/stu_check_attendance.css">
</head>

<body>

    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <div class="bar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Mark Attendance</a></li>
            <li><a href="#">Time Table</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Study Material</a></li>
            <li><a href="#">LogOut</a></li>
        </ul>
    </div>

    <h1>Check Attendance</h1>

    <form action="" method="post">
        <input type="text" name="course" placeholder="Enter Course Code" required="true">
        <button type="submit">Check</button>
    </form>

    <div class="calendar">

        <div class="box">

        </div>

        <div class="box">

        </div>
        
        <table>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td style="background-color: rgb(120, 226, 120);">4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>8</td>
                <td>9</td>
                <td style="background-color: rgb(120, 226, 120);">10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td style="background-color: rgb(120, 226, 120);">14</td>
            </tr>
            <tr>
                <td style="background-color: rgb(120, 226, 120);">15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td style="background-color: rgb(120, 226, 120);">19</td>
                <td>20</td>
                <td>21</td>
            </tr>
            <tr>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
            </tr>
            <tr>
                <td style="background-color: rgb(120, 226, 120);">29</td>
                <td>30</td>
                <td style="background-color: rgb(120, 226, 120);">31</td>
            </tr>
        </table>
    </div>
</body>

</html>
