<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Check Attendance</title>
    <link rel="stylesheet" href="./css/stu_check_attendance.css">
</head>

<body>

    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <div class="bar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Mark Attendance</a></li>
            <li><a href="#">Time Table</a></li>
            <li><a href="#">Courses</a></li>
            <li><a href="#">Study Material</a></li>
            <li><a href="#">LogOut</a></li>
        </ul>
    </div>

    <h1>Check Attendance</h1>

    <form action="" method="post">
        <input type="text" name="course" placeholder="Enter Course Code" required="true">
        <button type="submit">Check</button>
    </form>

    <div class="calendar">

        <div class="box">

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Month
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">
                        <h5>January</h5>
                    </a>
                    <a class="dropdown-item" href="#">
                        <h5>February</h5>
                    </a>
                    <a class="dropdown-item" href="#">
                        <h5>March</h5>
                    </a>
                    <a class="dropdown-item" href="#">
                        <h5>April</h5>
                    </a>
                    <a class="dropdown-item" href="#">
                        <h5>May</h5>
                    </a>
                    <a class="dropdown-item" href="#">
                        <h5>June</h5>
                    </a>
                    <a class="dropdown-item" href="#">
                        <h5>July</h5>
                    </a>
                    <a class="dropdown-item" href="#">
                        <h5>August</h5>
                    </a>
                    <a class="dropdown-item" href="#">
                        <h5>September</h5>
                    </a>
                    <a class="dropdown-item" href="#">
                        <h5>October</h5>
                    </a>
                    <a class="dropdown-item" href="#">
                        <h5>November</h5>
                    </a>
                    <a class="dropdown-item" href="#">
                        <h5>December</h5>
                    </a>
                </div>
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Year
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">
                        <h5>2020</h5>
                    </a>
                    <a class="dropdown-item" href="#">
                        <h5>2021</h5>
                    </a>
                </div>
            </div>
        </div>

        <table>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td style="background-color: rgb(120, 226, 120);">4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td>8</td>
                <td>9</td>
                <td style="background-color: rgb(120, 226, 120);">10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td style="background-color: rgb(120, 226, 120);">14</td>
            </tr>
            <tr>
                <td style="background-color: rgb(120, 226, 120);">15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td style="background-color: rgb(120, 226, 120);">19</td>
                <td>20</td>
                <td>21</td>
            </tr>
            <tr>
                <td>22</td>
                <td>23</td>
                <td>24</td>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
            </tr>
            <tr>
                <td style="background-color: rgb(120, 226, 120);">29</td>
                <td>30</td>
                <td style="background-color: rgb(120, 226, 120);">31</td>
            </tr>
        </table>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>

</html>
