<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Study Material</title>
    <link rel="stylesheet" href="./css/Timetable.css">
</head>
<body>
    <%if(data.length >0){
        var i=1; %>
        <table class="table">
            <tr>
                <th>Serial No.</th>
                <th>Couse Code</th>
                <th>Material Link</th>
            </tr>
           <% data.forEach((item)=>{%>
                <tr>
                    <td><%= i%></td>
                    <td><%=item.Course_Code%></td>
                    <td><%=item.Link%></td>
                </tr>
            <%i++})%>
        </table>
    <%} %>
</body>
</html>