

<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Study Material</title>
  <link rel="stylesheet" href="./css/Timetable.css">
</head>

<body>
  <nav class="navbar">
    <img class="logo" src="./css/images/logo.png" alt="...">
    <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
  </nav>

  <h1> Time-table </h1>
  <header>
    <h2>Welcome to Online Education Portal.</h2>

  </header>
    <%if(data.length >0){
        var i=1; %>
        <table class="table">
            <tr>
                <th>Serial No.</th>
                <th>Couse Code</th>
                <th>Material Link</th>
            </tr>
           <% data.forEach((item)=>{%>
                <tr>
                    <td><%= i%></td>
                    <td><%=item.Course_Code%></td>
                    <td><%=item.Link%></td>
                </tr>
            <%i++})%>
        </table>
    <%} %>

</body>

</html>