<!doctype html>
<html>

<head>
    <!-- Place your kit's code here -->
    <script src="https://kit.fontawesome.com/63e2b2b603.js" crossorigin="anonymous"></script>
    <title>Login for professors</title>
    <link rel="stylesheet" href="./css/teacher_login.css">
</head>

<body>

    <header>
        <h1>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h1>

        <h2>Welcome to Online Education Portal</h2>
    </header>

    <div class="logo">
        <img src="./css/images/logo.png" alt="logo">
    </div>

    <div class="container">
        <h1>Login for Professors</h1>
        <form method="post">
            <div class="box">
                <i class="fa fa-user"></i>
                <input type="text" name="username" id="name" placeholder="Enter Your ID">
            </div>
            <div class="box">
                <i class="fa fa-key"></i>
                <input type="password" name="password" id="password" placeholder="Enter Your Password">
            </div>

            <button class="btn">Sign In</button>
        </form>
        <a href="/forgot_password"><button class="btn">Forgot Password</button></a>
        <%if( typeof error != 'undefined'){%>
          <p id="tryagain"><%=error%></p>
          <%}%>
  </body>
</html>
