<!DOCTYPE html>

<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Time-table</title>
  <link rel="stylesheet" href="Timetable.css">
</head>

<body>
  <h1> Time-table</h1>
  <div class="box">Course 1</div>
  <div class="container">
    <div class="item" id="item1">Day</div>
    <div class="item" id="item2">Time</div>
    <div class="item" id="item3">Monday</div>
    <div class="item" id="item4"></div>
    <div class="item" id="item5">Tuesday</div>
    <div class="item" id="item6"></div>
    <div class="item" id="item7">Wednesday</div>
    <div class="item" id="item8"></div>
    <div class="item" id="item9">Thrusday</div>
    <div class="item" id="item10"></div>
    <div class="item" id="item11">Friday</div>
    <div class="item" id="item12"></div>
    <div class="item" id="item13">Saturday</div>
    <div class="item" id="item14"></div>
  </div>

  <div class="box">Course 2</div>
  <div class="container">
    <div class="item" id="item1">Day</div>
    <div class="item" id="item2">Time</div>
    <div class="item" id="item3">Monday</div>
    <div class="item" id="item4"></div>
    <div class="item" id="item5">Tuesday</div>
    <div class="item" id="item6"></div>
    <div class="item" id="item7">Wednesday</div>
    <div class="item" id="item8"></div>
    <div class="item" id="item9">Thrusday</div>
    <div class="item" id="item10"></div>
    <div class="item" id="item11">Friday</div>
    <div class="item" id="item12"></div>
    <div class="item" id="item13">Saturday</div>
    <div class="item" id="item14"></div>
  </div>

  <div class="box">Course 3</div>
  <div class="container">
    <div class="item" id="item1">Day</div>
    <div class="item" id="item2">Time</div>
    <div class="item" id="item3">Monday</div>
    <div class="item" id="item4"></div>
    <div class="item" id="item5">Tuesday</div>
    <div class="item" id="item6"></div>
    <div class="item" id="item7">Wednesday</div>
    <div class="item" id="item8"></div>
    <div class="item" id="item9">Thrusday</div>
    <div class="item" id="item10"></div>
    <div class="item" id="item11">Friday</div>
    <div class="item" id="item12"></div>
    <div class="item" id="item13">Saturday</div>
    <div class="item" id="item14"></div>
  </div>

  <div class="box">Course 4</div>
  <div class="container">
    <div class="item" id="item1">Day</div>
    <div class="item" id="item2">Time</div>
    <div class="item" id="item3">Monday</div>
    <div class="item" id="item4"></div>
    <div class="item" id="item5">Tuesday</div>
    <div class="item" id="item6"></div>
    <div class="item" id="item7">Wednesday</div>
    <div class="item" id="item8"></div>
    <div class="item" id="item9">Thrusday</div>
    <div class="item" id="item10"></div>
    <div class="item" id="item11">Friday</div>
    <div class="item" id="item12"></div>
    <div class="item" id="item13">Saturday</div>
    <div class="item" id="item14"></div>
  </div>

  <div class="box">Course 5</div>
  <div class="container">
    <div class="item" id="item1">Day</div>
    <div class="item" id="item2">Time</div>
    <div class="item" id="item3">Monday</div>
    <div class="item" id="item4"></div>
    <div class="item" id="item5">Tuesday</div>
    <div class="item" id="item6"></div>
    <div class="item" id="item7">Wednesday</div>
    <div class="item" id="item8"></div>
    <div class="item" id="item9">Thrusday</div>
    <div class="item" id="item10"></div>
    <div class="item" id="item11">Friday</div>
    <div class="item" id="item12"></div>
    <div class="item" id="item13">Saturday</div>
    <div class="item" id="item14"></div>
  </div>

</body>

</html>
