<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter The Roll No.</title>
    <link rel="stylesheet" href="./css/add_course.css">
    
</head>

<body>

    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <h1>Enter Roll No.</h1>
    <h2>Welcome to Online Education Portal.</h2>

    <div class="container">

        <form method="post">

            <div class="box">
                <input type="text" name="Rollno" required="true" placeholder="Roll No.">
            </div>

            
            <button type="submit">Update Details</button>

        </form>
        <%if( typeof error != 'undefined'){%>
            <p><%=error%></p>
            <%}%>
    </div>

</body>

</html>