<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Department</title>
    <script src="https://kit.fontawesome.com/63e2b2b603.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/update_student.css">
    <script>
        function add() {
            console.log('here');
            var x = document.getElementById('container');
            var p = document.getElementById('save');
            var i = x.childElementCount;
            // x.innerHTML += `<input type='text' required='true' placeholder='course${i}' name='course${i}'>`;
            x.innerHTML += `<div class="box">
            <i class="fa fa-key"></i>
            <input  placeholder='course${i}' name='course${i}' type="text" required=true>

        </div>`;
            // p.innerHTML +=1;
            console.log(i + 1);
        }
        function get_value() {
            return document.getElementById('container').childElementCount + 1;
        }
    </script>
</head>

<body>

    <nav class="navbar">
        <img class="logo" src="./css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <h1>Update Department Data</h1>

    <table class="table">
        <tr style="color: rgb(151, 4, 156); background-color: chartreuse;">
            <th>Field</th>
            <th>Old Value</th>
        </tr>
        <tr>
            <td style="background-color: rgb(161, 228, 255);">Name</td>
            <td><%= data1.D_Name%></td>
        </tr>
    </table>

    <div class="container">

        <h1>New Data</h1>
        <form action="" method="POST">
            <div class="box">
                <i class="fa fa-user"></i>
                <input type="text" name="name" required="true" id="name" placeholder="Enter Department Name">
            </div>
            <div id="container">
          
                <p id="save" style="visibility: hidden;"></p>
                
            </div>
            <a href="/admin_home" type="submit" ><button class="btn" id="btn2">Update</button></a>
            <input type="text" name="depid" style="display: none;" value="<%=depid%>" >
        </form>

    </div>

</body>

</html>
