<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update_Department</title>
    <script src="https://kit.fontawesome.com/63e2b2b603.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href=".css/update_student.css">
</head>

<body>

    <nav class="navbar">
        <img class="logo" src=".css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <h1>Update Department</h1>
    <h2>Welcome to Online Education Portal</h2>

    <div class="container" id="container1">

        <h1>Read only</h1>
        <form action="" method="POST">
        <div class="box">
          <i class="fa fa-industry"></i>
          <input type="text" name="deptname" placeholder="Department Name">
        </div>

    </div>

    <div class="container" id="container2">

        <h1>New Data</h1>
        <form action="" method="POST">
        <div class="box">
          <i class="fa fa-industry"></i>
          <input type="text" name="deptname" required= "true" id="name" placeholder="Enter Department Name">
        </div>

    </div>

    <a href="/"><button class="btn" style="top: 80%;">Update</button></a> 

  </body>
</html>
