<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Professor</title>
    <script src="https://kit.fontawesome.com/63e2b2b603.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/update_student.css">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background-size: cover;
            margin: 0px;
            padding: 0px;
            text-align: center;
            font-weight: 600;
            box-sizing: border-box;
            background-color: #e2e2e2;
        }

        .navbar {
            background-color: rgba(180, 150, 150, 0.5);
            display: flex;
            align-items: center;
        }

        .logo {
            height: 100px;
            width: 100px;
            margin: 10px;
        }

        h3 {
            font-size: 2.5rem;
            font-style: italic;
            margin: 0px 10px;
        }

        h1 {
            margin: 0px;
            padding: 20px;
            text-align: center;
            background-color: transparent;
            position: relative;
            top: 20px;
            font-size: 4em;
        }

        h2 {
            font-size: 2em;
            color: darkred;
            margin: 10px;
        }

        .container {
            position: absolute;
            top: 45%;
        }

        #container1 {
            left: 20%;
        }

        #container2 {
            right: 10%;
        }

        .container h1 {
            font-size: 40px;
            border-bottom: 5px solid purple;
            display: inline-block;
            margin-bottom: 15px;
            padding: 13px 0px;
        }

        .box {
            width: 100%;
            border-bottom: 2px solid purple;
            margin: 22px 0px;
        }

        .box input {
            background: none;
            width: 75%;
            outline: none;
            border: none;
            color: rgba(202, 43, 43, 0.589);
            padding: 5px 10px;
            font-size: 25px;
            font-family: cursive;
            font-weight: bold;
        }

        .box i {
            width: 25px;
            text-align: center;
        }

        .btn {
            position: absolute;
            top: 100%;
            cursor: pointer;
            outline: none;
            margin: 12px 0;
            padding: 10px 21px;
            color: black;
            border-radius: 10px;
            border: 2px solid purple;
            font-size: 18px;
            background: none;
            font-weight: bold;
        }

        .btn:hover {
            color: rgb(228, 13, 13);
            background: white;
        }
    </style>
    <script>
        function add() {
            console.log('here');
            var x = document.getElementById('container');
            var p = document.getElementById('save');
            var i = x.childElementCount;
            // x.innerHTML += `<input type='text' required='true' placeholder='course${i}' name='course${i}'>`;
            x.innerHTML += `<div class="box">
            <i class="fa fa-key"></i>
            <input  placeholder='course${i}' name='course${i}' type="text" required=true>

        </div>`;
            // p.innerHTML +=1;
            console.log(i + 1);
        }
        function get_value() {
            return document.getElementById('container').childElementCount + 1;
        }
    </script>
</head>

<body>

    <nav class="navbar">
        <img class="logo" src=".css/images/logo.png" alt="...">
        <h3>भारतीय प्रौद्योगिकी संस्थान इंदौर <br> Indian Institute of Technology Indore</h3>
    </nav>

    <h1>Update Professor Data</h1>
    <h2>Welcome to Online Education Portal</h2>

    <table class="table">
        <tr>
            <th>Field</th>
            <th>Old Value</th>
        </tr>
        <tr>
            <td>Name</td>
            <td><%= data1.P_Name%></td>
        </tr>
        <tr>
            <td>Program</td>
            <td><%= data1.Post%></td>
        </tr>
        <tr>
            <td>Department ID</td>
            <td><%= data1.Department_ID%></td>
        </tr>
        <tr>
            <td>Courses</td>
            <td>
                <% data2.forEach((item)=>{%>
                <span style="display: inline-block;"><%=item.Course_Code%></span>
                <%})%>
            </td>
        </tr>
    </table>

    <div class="container" id="container2">

        <h1>New Data</h1>
        <form action="" method="POST">
            <div class="box">
                <i class="fa fa-user"></i>
                <input type="text" name="username" required="true" id="name" placeholder="Enter Name">
            </div>
            <div class="box">
                <i class="fa fa-address-card"></i>
                <input type="text" name="post" required="true" placeholder="Enter Post">
            </div>
            <div class="box">
                <i class="fa fa-vcard-o"></i>
                <input type="number" name="depid" required="true" id="depid" placeholder="Enter Department ID">
            </div>
            <div id="container">
          
                <p id="save" style="visibility: hidden;"></p>
                
            </div>
            <button  style="display: block;" class="btn" onclick="add()" >Add Course</button></br>
            <a href="/admin_home" type="submit" ><button class="btn">Update</button></a>

        </form>

    </div>


</body>

</html>