
@media (min-width: 770px) {

    * {
        box-sizing: border-box;
    }

    /* html::before {
        content: "";
        position: absolute;
        background: url('img/bg4.jpg') no-repeat center center/cover;
        height: 150%;
        width: 100%;
        opacity: 0.5;
        z-index: -1;
    } */

    body {
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-weight: 600;
        box-sizing: border-box;
        background-color: #e2e2e2;
    }

    .head {
        background-color: rgba(180, 150, 150, 0.5);
        display: flex;
        align-items: center;
    }

    .logo {
        height: 100px;
        width: 100px;
        margin: 10px;
    }

    h3 {
        font-size: 2.5rem;
        font-style: italic;
        margin: 0px 10px;
    }


    h1 {
        margin: 0px;
        padding: 20px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 20px;
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
        color: darkred;
        margin: 10px;
    }

    .search {
        font-size: 20px;
        border: 3px solid black;
        border-radius: 5px;
        margin: 40px;
        height: 50px;
        width: 320px;
        background-color: transparent;
    }

    table {
        margin: 40px 20px;
        border: 2px solid black;
    }

    th,td {
        font-weight: bold;
        font-size: 25px;
        border: 2px solid black;
        height: 70px;
        width: 350px;
    }

    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.459);
        border-radius: 5px;
        height: 50px;
        width: auto;
        font-size: 1.3rem;
    }

    button:hover {
        border: 3px solid;
        background-color: rgba(0, 119, 255, 0.938);
        cursor: pointer;
    }

}



@media (min-width: 615px) and (max-width: 770px) {
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-weight: 600;
        box-sizing: border-box;
        background-color: #e2e2e2;
    }

    header {
        background-color: rgba(180, 150, 150, 0.5);
        display: flex;
        align-items: center;
    }

    

  header  h3 {
        font-size: 2rem;
        font-style: italic;
        margin: 0px 8px;
    }


    h1 {
        margin: 0px;
        padding: 16px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 16px;
        font-size: 3em;
    }

    h2 {
        font-size: 1.7em;
        color: darkred;
        margin: 8px;
    }

    .search {
        font-size: 18px;
        border: 3px solid black;
        border-radius: 5px;
        margin: 32px;
        height: 40px;
        width: 290px;
        background-color: transparent;
    }

    table {
        margin: 35px 18px;
        border: 2px solid black;
    }

    th,
    td {
        font-weight: bold;
        font-size: 20px;
        border: 2px solid black;
        height: 60px;
        width: 250px;
    }

    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.459);
        border-radius: 5px;
        height: 40px;
        width: auto;
        font-size: 1.08rem;
    }

    button:hover {
        border: 3px solid;
        background-color: rgba(0, 119, 255, 0.938);
        cursor: pointer;
    }
}



@media (min-width: 510px) and (max-width: 615px) {

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-weight: 600;
        box-sizing: border-box;
        background-color: #e2e2e2;
    }

    .head {
        background-color: rgba(180, 150, 150, 0.5);
        display: flex;
        align-items: center;
    }

    .logo {
        height: 60px;
        width: 60px;
        margin: 6px;
    }

    h3 {
        font-size: 1.7rem;
        font-style: italic;
        margin: 0px 6px;
    }


    h1 {
        margin: 0px;
        padding: 16px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 15px;
        font-size: 2em;
    }

    h2 {
        font-size: 1.7em;
        color: darkred;
        margin: 7px;
    }

    .search {
        font-size: 16px;
        border: 3px solid black;
        border-radius: 5px;
        margin: 15px ;
        height: 30px;
        width: 280px;
        background-color: transparent;
    }

    table {
        margin: 20px 15px;
        border: 2px solid black;
    }

    th,
    td {
        font-weight: bold;
        font-size: 15px;
        border: 2px solid black;
        height: 40px;
        width: 180px;
    }

    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.459);
        border-radius: 5px;
        height: 25px;
        width: auto;
        font-size: 0.8rem;
    }

    button:hover {
        border: 3px solid;
        background-color: rgba(0, 119, 255, 0.938);
        cursor: pointer;
    }

} 



@media (min-width: 385px) and (max-width: 510px) {

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-weight: 600;
        box-sizing: border-box;
        background-color: #e2e2e2;
    }

    .head {
        background-color: rgba(180, 150, 150, 0.5);
        display: flex;
        align-items: center;
    }

    .logo {
        height: 40px;
        width: 40px;
        margin: 5px;
    }

    h3 {
        font-size: 1.3rem;
        font-style: italic;
        margin: 0px 5px;
    }


    h1 {
        margin: 0px;
        padding: 14px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 13px;
        font-size: 1.7em;
    }

    h2 {
        font-size: 1.3em;
        color: darkred;
        margin: 7px;
    }

    .search {
        font-size: 14px;
        border: 3px solid black;
        border-radius: 5px;
        margin: 13px ;
        height: 25px;
        width: 250px;
        background-color: transparent;
    }

    table {
        margin: 17px 10px;
        border: 2px solid black;
    }

    th,
    td {
        font-weight: bold;
        font-size: 12px;
        border: 2px solid black;
        height: 36px;
        width: 150px;
    }

    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.459);
        border-radius: 5px;
        height: 22px;
        width: auto;
        font-size: 0.7rem;
    }

    button:hover {
        border: 3px solid;
        background-color: rgba(0, 119, 255, 0.938);
        cursor: pointer;
    }

} 



@media (max-width: 385px) {

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-weight: 600;
        box-sizing: border-box;
        background-color: #e2e2e2;
    }

    .navbar {
        background-color: rgba(180, 150, 150, 0.5);
        display: flex;
        align-items: center;
    }

    .logo {
        height: 30px;
        width: 30px;
        margin: 5px;
    }

    h3 {
        font-size: 1.07rem;
        font-style: italic;
        margin: 0px 4px;
    }


    h1 {
        margin: 0px;
        padding: 10px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 5px;
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
        color: darkred;
        margin: 4px;
    }

    .search {
        font-size: 12px;
        border: 3px solid black;
        border-radius: 5px;
        margin: 10px ;
        height: 25px;
        width: 230px;
        background-color: transparent;
    }

    table {
        margin: 15px 8px;
        border: 2px solid black;
    }

    th,
    td {
        font-weight: bold;
        font-size: 10px;
        border: 2px solid black;
        height: 33px;
        width: 150px;
    }

    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.459);
        border-radius: 5px;
        height: 20px;
        width: auto;
        font-size: 0.6rem;
    }

    button:hover {
        border: 3px solid;
        background-color: rgba(0, 119, 255, 0.938);
        cursor: pointer;
    }

} 





/*css reset*/
*{
    margin: 0px;
    padding: 0px;
}
/*css varible*/
:root{
    --navbar-height: 59px;
}

/*NAvigAation bar*/

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;


}
/*  navigation bar logo and image*/
#logo{
    margin: 10px 20px;

}
#logo img{
    height : 70px;
    margin : 5px 7px;
}

/*navigation bar list styleing*/
#navbar ul{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
#navbar ul li a{
    color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;

}
#navbar::before{
    content: " " ;
    background-color: black;
    position: absolute;
    height: 80%;
    width: 100%; 
    z-index:-1 ;
    opacity: 0.4;
    top: 0px;
    left: 0px;

}

#navbar ul li{


    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a:hover{
    color:black;
  background-color: white;
  
}



.logo {
    
    height : 70px;
    margin : 5px 7px;;
    
}

