
*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    background-color: #f8ecff;
}

.navbar {
    background-color:  rgba(168, 185, 223, 0.6);
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    padding: 7px;
    color: #072ff2;
}

a:hover{
    color: rgb(204, 0, 255);
    text-decoration: underline;
}

li a:hover {
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    background-color: #dbefea;
}

button {
    border-radius: 10px;
    margin-bottom: 5px;
    
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.459);
        border-radius: 5px;
        height: 50px;
        width: auto;
        font-size: 1.2rem;
    }

    button:hover {
        border: 3px solid;
        background-color: rgba(0, 119, 255, 0.938);
        cursor: pointer;
    }






button:active {
    background-color: rgb(113 113 202);
}

.bar{
    margin: 20px 0px 10px 0px;
    position: sticky;
    display: flex;
    background-color:rgb(87, 212, 225);
    border-radius: 15px;
    z-index: 10;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 0px 10px;
    font-size: 15px;
}

/* html::before {
    content: "";
    position: absolute;
    top: 100px;
    background: url('img/bg8.jpg') no-repeat center center/cover;
    height: 170%;
    width: 100%;
    opacity: 0.3;
    z-index: -1;
}

.navbar{
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
} */


@media (min-width: 770px){

    .logo {
        height: 100px;
        width: 100px;
        margin: 10px;
    }
  
    h3 {
        font-size: 2.5rem;
        font-style: italic;
        margin: 0px 10px;
    }
 
    h1 {
        margin: 0px;
        padding: 20px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 20px;
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
        color: darkred;
        margin: 10px;
    }

    .bar{
        top: 10px;
    }

    
    table {
        margin: 17px 10px;
        border: 2px solid black;
    }

    th,
    td {
        font-weight: bold;
        font-size: 12px;
        border: 2px solid black;
        height: 36px;
        width: 150px;
    }

    
    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.459);
        border-radius: 5px;
        height: 40px;
        width: 150px;
        font-size: 1.08rem;
    }

    button:hover {
        border: 3px solid;
        background-color: rgba(0, 119, 255, 0.938);
        cursor: pointer;
    }
}


@media (min-width: 590px) and (max-width: 770px){

    .logo {
        height: 60px;
        width: 60px;
        margin: 6px;
    }
  
    h3 {
        font-size: 2rem;
        font-style: italic;
        margin: 0px 6px;
    }

    h1 {
        margin: 0px;
        padding: 16px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 15px;
        font-size: 2.7em;
    }

    h2 {
        font-size: 1.5em;
        color: darkred;
        margin: 12px;
    }

    .bar{
        top: 8px;
    }

    table {
        margin: 15px 8px;
        border: 2px solid black;
    }

    th,
    td {
        font-weight: bold;
        font-size: 10px;
        border: 2px solid black;
        height: 33px;
        width: 150px;
    }

    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.459);
        border-radius: 5px;
        height: 25px;
        width: 115px;
        font-size: 0.8rem;
    }

    button:hover {
        border: 3px solid;
        background-color: rgba(0, 119, 255, 0.938);
        cursor: pointer;
    }
}


@media (max-width: 590px){
    
    .logo {
        height: 30px;
        width: 30px;
        margin: 5px;
    }
  
    h3 {
        font-size: 1.07rem;
        font-style: italic;
        margin: 0px 5px;
    }

    h1 {
        margin: 0px;
        padding: 10px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 10px;
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
        color: darkred;
        margin: 10px;
    }

    .bar{
        top: 5px;
    }

    ul{
        padding-inline-start: 7px;
    }

    li{
        font-size: 6px;
    }
    
 
    table {
        position: absolute;
        left: 0%;
        margin: 15px 5px;
        border: 2px solid black;
        display: inline-block;
    }
    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.459);
        border-radius: 5px;
        height: 22px;
        width: 101px;
        font-size: 0.7rem;
    }

    button:hover {
        border: 3px solid;
        background-color: rgba(0, 119, 255, 0.938);
        cursor: pointer;
    }
    
}

table {
    margin: 40px 20px;
    border: 2px solid black;
}

th,td {
    font-weight: bold;
    font-size: 25px;
    border: 2px solid black;
    height: 70px;
    width: 350px;
}
