*{
    box-sizing: border-box;
}

.container::before {
    content: "";
    position: absolute;
    background: url('./images/bg1.jpg') no-repeat center center/cover;
    left: 0px;
    opacity: 0.6;
    z-index: -1;
}

.navbar {
    background-color: rgba(180, 150, 150, 0.5);
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

#button:hover {
    background-color: rgb(174 174 239);
    cursor: pointer;
}

#button:active {
    background-color: rgb(113 113 202);
}


@media (min-width: 1040px){

    .logo {
        height: 100px;
        width: 100px;
        margin: 10px;
    }
    
    h3 {
        position: relative;
        font-size: 2.5rem;
        font-style: italic;
        margin: 0px 10px -5px 10px;
        padding: 0px;
    }

    .container::before{
        height: 160%;
        width: 100%;
    }

    body {
        margin: 0px;
        box-sizing: border-box;
        text-align: center;
        font-weight: 400;
        line-height: 1.5;
        background-color: #e2e2e296;
    }

    #h1 {
        margin: 0px;
        position: relative;
        top: 20px;
        text-align: center;
        padding: 20px;
        color: black;
        background-color: transparent;
        font-size: 4rem;
    }

    p {
        margin: 10px 10px 1px 20px;
        font-size: 2rem;
        font-weight: bold;
        text-align: left;
        color: darkred;
    }

    button {
        font-size: 20px;
        border: 3px solid black;
        margin: 5px;
        height: 50px;
        width: 100px;
        background-color: transparent;
    }

    #button {
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40vh;
    }

    img {
        height: 200px;
        width: 200px;
        margin: 10px;
    }

    .card {
        background-color: white;
        margin: 10px 20px;
        box-shadow: 10px 10px 15px #310101b8;
    }

    .card-title {
        margin: 10px;
    }

    .footer{
        border: 2px solid ;
        border-radius: 10px;
        margin: 20px ;
        background-color: white;
    }

    h1{
        margin: 10px auto;
        background-color: #e2e2e2a6;
        color: rgb(30, 110, 240);
    }

    .p1 {
        color: black;
        font-size: 1.4rem;
        margin: 10px 10px;
        text-align: justify;
        font-weight: 100;
    }

}


@media (min-width:850px) and (max-width: 1040px){

    .logo {
        height: 90px;
        width: 90px;
        margin: 9px;
    }
    
    h3 {
        position: relative;
        font-size: 2.25rem;
        font-style: italic;
        margin: 0px 9px -5px 9px;
        padding: 0px;
    }

    .container::before{
        height: 140%;
        width: 100%;
    }

    body {
        margin: 0px;
        box-sizing: border-box;
        text-align: center;
        font-weight: 400;
        line-height: 1.35;
        background-color: #e2e2e296;
    }

    #h1 {
        margin: 0px;
        position: relative;
        top: 18px;
        text-align: center;
        padding: 18px;
        color: black;
        background-color: transparent;
        font-size: 3.6rem;
    }

    p {
        margin: 9px 9px 1px 18px;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: left;
        color: darkred;
    }

    button {
        font-size: 20px;
        border: 3px solid black;
        margin: 5px;
        height: 50px;
        width: 100px;
        background-color: transparent;
    }

    #button {
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 43vh;
    }

    img {
        height: 190px;
        width: 190px;
        margin: 8px;
    }

    .card {
        background-color: white;
        margin: 10px 10px;
        box-shadow: 10px 10px 15px #310101b8;
    }

    .card-title {
        margin: 9px;
    }

    .footer{
        border: 2px solid ;
        border-radius: 10px;
        margin: 18px ;
        background-color: white;
    }

    h1{
        margin: 10px auto;
        background-color: #e2e2e2a6;
        color: rgb(30, 110, 240);
    }

    .p1 {
        color: black;
        font-size: 1.3rem;
        margin: 9px 9px;
        text-align: justify;
        font-weight: 100;
    }

}


@media (min-width:700px) and (max-width: 850px){

    .logo {
        height: 80px;
        width: 80px;
        margin: 8px;
    }
    
    h3 {
        position: relative;
        font-size: 2rem;
        font-style: italic;
        margin: 0px 8px -5px 8px;
        padding: 0px;
    }

    .container::before{
        height: 127%;
        width: 100%;
    }

    body {
        margin: 0px;
        box-sizing: border-box;
        text-align: center;
        font-weight: 400;
        line-height: 1.2;
        background-color: #e2e2e296;
    }

    #h1 {
        margin: 0px;
        position: relative;
        top: 16px;
        text-align: center;
        padding: 16px;
        color: black;
        background-color: transparent;
        font-size: 3.2rem;
    }

    p {
        margin: 8px 8px 1px 16px;
        font-size: 1.6rem;
        font-weight: bold;
        text-align: left;
        color: darkred;
    }

    button {
        font-size: 20px;
        border: 3px solid black;
        margin: 5px;
        height: 50px;
        width: 100px;
        background-color: transparent;
    }

    #button {
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40vh;
    }

    img {
        height: 180px;
        width: 180px;
        margin: 6px;
    }

    .card {
        background-color: white;
        margin: 10px 10px;
        box-shadow: 10px 10px 15px #310101b8;
    }

    .card-title {
        margin: 8px;
    }

    .footer{
        border: 2px solid ;
        border-radius: 10px;
        margin: 18px ;
        background-color: white;
    }

    h1{
        margin: 10px auto;
        background-color: #e2e2e2a6;
        color: rgb(30, 110, 240);
    }

    .p1 {
        color: black;
        font-size: 1.2rem;
        margin: 8px 8px;
        text-align: justify;
        font-weight: 100;
    }

}


@media (min-width:580px) and (max-width: 700px){

    .logo {
        height: 70px;
        width: 70px;
        margin: 7px;
    }
    
    h3 {
        position: relative;
        font-size: 1.75rem;
        font-style: italic;
        margin: 0px 7px -5px 7px;
        padding: 0px;
    }

    .container::before{
        height: 112%;
        width: 100%;
    }

    body {
        margin: 0px;
        box-sizing: border-box;
        text-align: center;
        font-weight: 400;
        line-height: 1.2;
        background-color: #e2e2e296;
    }

    #h1 {
        margin: 0px;
        position: relative;
        top: 14px;
        text-align: center;
        padding: 14px;
        color: black;
        background-color: transparent;
        font-size: 2.8rem;
    }

    p {
        margin: 7px 7px 1px 8px;
        font-size: 1.4rem;
        font-weight: bold;
        text-align: left;
        color: darkred;
    }

    button {
        font-size: 20px;
        border: 3px solid black;
        margin: 5px;
        height: 50px;
        width: 100px;
        background-color: transparent;
    }

    #button {
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 32vh;
    }

    img {
        height: 170px;
        width: 170px;
        margin: 4px;
    }

    .card {
        background-color: white;
        margin: 10px 10px;
        box-shadow: 10px 10px 15px #310101b8;
    }

    .card-title {
        margin: 7px;
    }

    .footer{
        border: 2px solid ;
        border-radius: 10px;
        margin: 16px ;
        background-color: white;
    }

    h1{
        margin: 10px auto;
        background-color: #e2e2e2a6;
        color: rgb(30, 110, 240);
    }

    .p1 {
        color: black;
        font-size: 1.1rem;
        margin: 8px 8px;
        text-align: justify;
        font-weight: 100;
    }

}


@media (min-width:470px) and (max-width: 580px){

    .logo {
        height: 60px;
        width: 60px;
        margin: 6px;
    }
    
    h3 {
        position: relative;
        font-size: 1.5rem;
        font-style: italic;
        margin: 0px 6px -5px 6px;
        padding: 0px;
    }

    .container::before{
        height: 95%;
        width: 100%;
    }

    body {
        margin: 0px;
        box-sizing: border-box;
        text-align: center;
        font-weight: 400;
        line-height: 1.1;
        background-color: #e2e2e296;
    }

    #h1 {
        margin: 0px;
        position: relative;
        top: 12px;
        text-align: center;
        padding: 12px;
        color: black;
        background-color: transparent;
        font-size: 2.4rem;
    }

    p {
        margin: 6px 6px 1px 7px;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: left;
        color: darkred;
    }

    button {
        font-size: 20px;
        border: 3px solid black;
        margin: 5px;
        height: 50px;
        width: 100px;
        background-color: transparent;
    }

    #button {
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 24vh;
    }

    img {
        height: 160px;
        width: 160px;
        margin: 3px;
    }

    .card {
        background-color: white;
        margin: 10px 10px;
        box-shadow: 10px 10px 15px #310101b8;
    }

    .card-title {
        margin: 7px;
    }

    .footer{
        border: 2px solid ;
        border-radius: 10px;
        margin: 14px ;
        background-color: white;
    }

    h1{
        margin: 10px auto;
        background-color: #e2e2e2a6;
        color: rgb(30, 110, 240);
    }

    .p1 {
        color: black;
        font-size: 1.1rem;
        margin: 8px 8px;
        text-align: justify;
        font-weight: 100;
    }

}



@media (min-width:390px) and (max-width: 470px){

    .logo {
        height: 50px;
        width: 50px;
        margin: 5px;
    }
    
    h3 {
        position: relative;
        font-size: 1.25rem;
        font-style: italic;
        margin: 0px 5px -5px 5px;
        padding: 0px;
    }

    .container::before{
        height: 78%;
        width: 100%;
    }

    body {
        margin: 0px;
        box-sizing: border-box;
        text-align: center;
        font-weight: 400;
        line-height: 1;
        background-color: #e2e2e296;
    }

    #h1 {
        margin: 0px;
        position: relative;
        top: 10px;
        text-align: center;
        padding: 10px;
        color: black;
        background-color: transparent;
        font-size: 2rem;
    }

    p {
        margin: 6px 6px 1px 3px;
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
        color: darkred;
    }

    button {
        font-size: 20px;
        border: 3px solid black;
        margin: 5px;
        height: 40px;
        width: 100px;
        background-color: transparent;
    }

    #button {
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 15vh;
    }

    img {
        height: 150px;
        width: 150px;
        margin: 2px;
    }

    .card {
        background-color: white;
        margin: 10px 10px;
        box-shadow: 10px 10px 15px #310101b8;
    }

    .card-title {
        margin: 7px;
    }

    .footer{
        border: 2px solid ;
        border-radius: 10px;
        margin: 13px ;
        background-color: white;
    }

    h1{
        margin: 10px auto;
        background-color: #e2e2e2a6;
        color: rgb(30, 110, 240);
    }

    .p1 {
        color: black;
        font-size: 1rem;
        margin: 8px 8px;
        text-align: justify;
        font-weight: 100;
    }

}




@media (max-width: 390px){

    .logo {
        height: 40px;
        width: 40px;
        margin: 4px;
    }
    
    h3 {
        position: relative;
        font-size: 1rem;
        font-style: italic;
        margin: 0px 4px -5px 4px;
        padding: 0px;
    }

    .container::before{
        height: 47%;
        width: 100%;
    }

    body {
        margin: 0px;
        box-sizing: border-box;
        text-align: center;
        font-weight: 400;
        line-height: 1;
        background-color: #e2e2e296;
    }

    #h1 {
        margin: 0px;
        position: relative;
        top: 10px;
        text-align: center;
        padding: 10px;
        color: black;
        background-color: transparent;
        font-size: 1.6rem;
    }

    header{
        margin-top: 30px;
    }

    p {
        margin: 7px 6px 1px 2px;
        font-size: 0.9rem;
        font-weight: bold;
        text-align: left;
        color: darkred;
    }

    button {
        font-size: 20px;
        border: 3px solid black;
        margin: 5px;
        height: 40px;
        width: 100px;
        background-color: transparent;
    }

    #button {
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 26vh;
    }

    img {
        height: 150px;
        width: 150px;
        margin: 1px;
    }

    .card {
        background-color: white;
        margin: 10px 10px;
        box-shadow: 10px 10px 15px #310101b8;
    }

    .card-title {
        margin: 7px;
    }

    .footer{
        border: 2px solid ;
        border-radius: 10px;
        margin: 13px ;
        background-color: white;
    }

    h1{
        margin: 10px auto;
        background-color: #e2e2e2a6;
        color: rgb(30, 110, 240);
        font-size: 1.5rem;
    }

    .p1 {
        color: black;
        font-size: 1rem;
        margin: 8px 8px;
        text-align: justify;
        font-weight: 100;
    }

}
