
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    background-color: #f8ecff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    background-color: rgba(168, 185, 223, 0.6);
    display: flex;
    align-items: center;
}

button:hover {
    border: 3px solid;
    background-color: rgba(0, 110, 255, 0.5);
    cursor: pointer;
}

button:active{
    background-color: rgba(0, 110, 255, 0.8);
}

.bar {
    margin: 20px 0px 10px 0px;
    position: sticky;
    display: flex;
    background-color: rgb(87, 212, 225);
    border-radius: 15px;
    z-index: 10;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 0px 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
    padding: 7px;
    color: #072ff2;
}

li a:hover {
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    background-color: #dbefea;
}

table{
    margin: 50px auto;
    border: 2px solid black;
}

th,td{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: 400;
    width: 50px;
    height: 50px;
}


@media (min-width: 770px) {

    .logo {
        height: 100px;
        width: 100px;
        margin: 10px;
    }

    h3 {
        font-size: 2.5rem;
        font-style: italic;
        margin: 0px 10px;
    }

    h1 {
        margin: 0px;
        padding: 20px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 20px;
        font-size: 4em;
    }

    input {
        font-size: 20px;
        border: 3px solid black;
        border-radius: 5px;
        margin: 50px 10px 10px 10px;
        height: 50px;
        width: 320px;
        background-color: transparent;
    }

    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.35);
        border-radius: 5px;
        height: 50px;
        width: 200px;
        font-size: 1.3rem;
        margin: 10px;
    }

}


@media (min-width: 615px) and (max-width: 770px) {

    .logo {
        height: 80px;
        width: 80px;
        margin: 8px;
    }

    h3 {
        font-size: 2rem;
        font-style: italic;
        margin: 0px 8px;
    }

    h1 {
        margin: 0px;
        padding: 16px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 16px;
        font-size: 3em;
    }
    
    li{
        margin: 0px 5px;
        font-size: 15px;
    }

    input {
        font-size: 18px;
        border: 3px solid black;
        border-radius: 5px;
        margin: 50px 10px 10px 10px;
        height: 40px;
        width: 290px;
        background-color: transparent;
    }

    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.35);
        border-radius: 5px;
        height: 40px;
        width: 180px;
        font-size: 1.08rem;
        margin: 10px;
    }

}


@media (min-width: 510px) and (max-width: 615px) {

    .logo {
        height: 60px;
        width: 60px;
        margin: 6px;
    }

    h3 {
        font-size: 1.7rem;
        font-style: italic;
        margin: 0px 6px;
    }

    ul {
        padding-inline-start: 10px;
    }

    li{
        margin: 0px 3px;
        font-size: 13px;
    }

    h1 {
        margin: 0px;
        padding: 16px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 15px;
        font-size: 2em;
    }

    input {
        font-size: 16px;
        border: 2px solid black;
        border-radius: 5px;
        margin: 40px 10px 10px 10px ;
        height: 40px;
        width: 280px;
        background-color: transparent;
    }

    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.35);
        border-radius: 5px;
        height: 35px;
        width: 150px;
        margin: 5px;
        font-size: 0.8rem;
    }

} 


@media (min-width: 385px) and (max-width: 510px) {

    .logo {
        height: 40px;
        width: 40px;
        margin: 5px;
    }

    h3 {
        font-size: 1.3rem;
        font-style: italic;
        margin: 0px 5px;
    }

    h1 {
        margin: 0px;
        padding: 14px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 13px;
        font-size: 1.7em;
    }

    ul {
        padding-inline-start: 10px;
    }

    li {
        margin: 0px 1px;
        font-size: 10px;
    }

    input {
        font-size: 14px;
        border: 2px solid black;
        border-radius: 5px;
        margin: 30px 10px 10px 10px;
        height: 35px;
        width: 250px;
        background-color: transparent;
    }

    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.35);
        border-radius: 5px;
        height: 30px;
        width: 130px;
        margin: 5px;
        font-size: 0.8rem;
    }

    th,td{
        width: 40px;
        height: 40px;
    }

} 


@media (max-width: 385px) {

    .logo {
        height: 30px;
        width: 30px;
        margin: 5px;
    }

    h3 {
        font-size: 1.07rem;
        font-style: italic;
        margin: 0px 4px;
    }

    h1 {
        margin: 0px;
        padding: 10px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 5px;
        font-size: 1.5em;
    }

    ul {
        padding-inline-start: 2px;
    }

    li {
        margin: 0px;
        font-size: 8px;
    }

    input {
        font-size: 12px;
        border: 2px solid black;
        border-radius: 5px;
        margin: 20px 10px 10px 10px;
        height: 30px;
        width: 230px;
        background-color: transparent;
    }

    th,
    td {
        width: 30px;
        height: 30px;
    }

    button {
        border: 2px solid;
        background-color: rgba(0, 110, 255, 0.35);
        border-radius: 5px;
        height: 25px;
        width: 90px;
        margin: 5px;
        font-size: 0.7rem;
    }

} 
