
*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    background-color: #f8ecff;
}

.head {
    background-color:  rgba(168, 185, 223, 0.6);
    display: flex;
    align-items: center;

}
.head h3{
    
}
.logo {
    height: 50px;
    width: 50px;
    margin: 6px;
}
 
footer a{
    padding: 10px;
    color: blue;
    font-size: 20px;
}
footer{
    background-color: rgb(78, 12, 80);
}
 footer .card-body{
     background-color: gray;
 }

