
*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    background-color: #f8ecff;
}

.navbar {
    background-color:  rgba(168, 185, 223, 0.6);
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    padding: 7px;
    color: #072ff2;
}

a:hover{
    color: rgb(204, 0, 255);
    text-decoration: underline;
}

li a:hover {
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    text-decoration: none;
    background-color: #dbefea;
}

#button {
    border-radius: 10px;
    margin-bottom: 5px;
}

#button:hover {
    background-color: rgb(174 174 239);
    cursor: pointer;
}

#button:active {
    background-color: rgb(113 113 202);
}

.bar{
    margin: 20px 0px 10px 0px;
    position: sticky;
    display: flex;
    background-color:rgb(87, 212, 225);
    border-radius: 15px;
    z-index: 10;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin: 0px 10px;
    font-size: 15px;
}

.container{
     display: grid;
     margin: 30px;
     background-color: slategrey;
     grid-template-columns: repeat(2, 1fr);
}

.box{
     height: 50px;
     padding: 13px;
     font-size: 20px;
}

@media (min-width: 770px){

    .logo {
        height: 100px;
        width: 100px;
        margin: 10px;
    }
  
    h3 {
        font-size: 2.5rem;
        font-style: italic;
        margin: 0px 10px;
    }
 
    h1 {
        margin: 0px;
        padding: 20px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 20px;
        font-size: 4em;
    }

    h2 {
        font-size: 2em;
        color: darkred;
        margin: 10px;
    }

    .bar{
        top: 10px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40vh;
    }

    .card {
        background-color: white;
        margin: 40px 15px;
    }

    img {
        height: 220px;
        width: 220px;
        margin: 10px;
    }

    .card-title {
        margin: 10px;
    }

    button {
        font-size: 20px;
        border: 3px solid black;
        margin: 5px;
        height: 50px;
        width: 220px;
        background-color: transparent;
    }
    

}


@media (min-width: 590px) and (max-width: 770px){

    .logo {
        height: 60px;
        width: 60px;
        margin: 6px;
    }
  
    h3 {
        font-size: 2rem;
        font-style: italic;
        margin: 0px 6px;
    }

    h1 {
        margin: 0px;
        padding: 16px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 15px;
        font-size: 2.7em;
    }

    h2 {
        font-size: 1.5em;
        color: darkred;
        margin: 12px;
    }

    .bar{
        top: 8px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30vh;
    }

    .card {
        background-color: white;
        margin: 15px 15px;
    }

    img {
        height: 220px;
        width: 220px;
        margin: 10px;
    }

    .card-title {
        margin: 10px;
    }

    button {
        font-size: 20px;
        border: 3px solid black;
        margin: 5px;
        height: 50px;
        width: 220px;
        background-color: transparent;
    }

}


@media (max-width: 590px){
    
    .logo {
        height: 30px;
        width: 30px;
        margin: 5px;
    }
  
    h3 {
        font-size: 1.07rem;
        font-style: italic;
        margin: 0px 5px;
    }

    h1 {
        margin: 0px;
        padding: 10px;
        text-align: center;
        background-color: transparent;
        position: relative;
        top: 10px;
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
        color: darkred;
        margin: 10px;
    }

    .bar{
        top: 5px;
    }

    ul{
        padding-inline-start: 7px;
    }

    li{
        font-size: 6px;
    }
    
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 25vh;
    }

    .card {
        background-color: white;
        margin: 10px 10px;
    }

    img {
        height: 200px;
        width: 200px;
        margin: 10px;
    }

    .card-title {
        margin: 10px;
        font-size: 1.8em;
    }

    button {
        font-size: 15px;
        border: 3px solid black;
        margin: 5px;
        height: 30px;
        width: 100px;
        background-color: transparent;
    }

    .card-body button{
        font-size: 18px;
        height: 40px;
        width: 200px;
    }
    
     .box{
         font-size: 12px;
     }
    
}
