/*css reset*/
*{
    margin: 0px;
    padding: 0px;
}
/*css varible*/
:root{
    --navbar-height: 59px;
}

/*NAvigAation bar*/

#navbar{
    display: flex;
    align-items: center;
    position: static
    ;
    top: 0px;


}
/*  navigation bar logo and image*/
#logo{
    margin: 10px 34px;

}
#logo img{
    height: 70px;
    margin: 5px 7px;
}

/*navigation bar list styleing*/
#navbar ul{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
#navbar ul li a{
    color: black;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;

}
#navbar::before{
    content: " " ;
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%; 
    z-index:-1 ;
    opacity: 0.4;
    top: 0px;
    left: 0px;

}

#navbar ul li{


    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a:hover{
    color:black;
  background-color: white;
  
}

header h1{
        
    top: 0px;
    margin-top: 0px;
    text-align: center;
    padding-top: 20px;
    background-color: #e8e2b9;
    /*border: 2px solid black;*/
}
h
    margin-top: 0px;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    /*background-color: #e8e2b9;*/
    border-bottom: 2px solid black;}



h1{
    text-align: center;
    font-size: 40px;
    color: blue;
    font-family: cursive;
}

footer a{
    padding: 8px;
    color: blue;
    font-size: 20px;
}
footer{
    background-color: rgb(78, 12, 80);
}
 footer .card-body{
     background-color: orange;
 }
