
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #ececfa;
}

h1 {
  height: 70px;
  padding: 13px;
  text-align: center;
  border: 2px solid black;
  border-radius: 9px;
  background-color: blanchedalmond;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 200px 200px;
  grid-gap: 0px;
  margin: 0px 10px 70px 10px;

}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 70px;
  background-color: rgb(236, 185, 185);
  border: 2px solid black;
}

.box {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  background-color: rgb(236, 185, 185);
  border: 2px solid black;
  margin: auto;
  margin-top: 70px;
}
